@import "tailwindcss";

.phone-btn:hover{
    background: rgba(0, 128, 0, 0.473);
    color: white;
}

 .clear-btn:hover{
    background: rgba(0, 128, 0, 0.473);
    color: white;
}

.copy-btn:hover {
    background: rgb(85, 77, 77);
    color: white;
}